DT_CLIENT_ID=dt0s02.XXXXXXXX
DT_CLIENT_SECRET=dt0s02.XXXXXXXX.LONG_SECRET_STRING
DT_ACCOUNT_UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
DT_MONTHLY_BUDGET=50000
DT_ENVIRONMENT_URL=https://abc12345.live.dynatrace.com
DT_INGEST_TOKEN=dt0s16.XXXXXXXX.LONG_TOKEN_STRING
# DT_SUBSCRIPTION_UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# DT_EVENT_BUCKET=your-bucket-name
